<h1>{{school}}</h1>

<form class='form'>

  <fieldset ng-repeat='parent in parents'>
    <label class='checkbox'>
      <input type='checkbox' ng-model='parent.publish_name'> Include name in directory
    </label>

    <div class='controls'>
      <input type='text' class='input-xlarge' placeholder='First Name' ng-model='parent.first_name'>
      <input type='text' class='input-xlarge' placeholder='Last Name' ng-model='parent.last_name'>
    </div>

    <div class='controls controls-row'>
      <input type='email' class='input-xlarge' placeholder='Email' ng-model='parent.email'>
    </div>

    <legend>Parent {{$index + 1}} -- {{parent.first_name}} {{parent.last_name}}</legend>

  </fieldset>


  <fieldset ng-repeat='child in children'>

    <label class='checkbox'>
      <input type='checkbox'> Include name in directory
    </label>

    <input type='text' class='input-xlarge' placeholder='First Name' ng-model='child.first_name'>
    <input type='text' class='input-xlarge' placeholder='Last Name' ng-model='child.last_name'>
    <legend>Child {{$index + 1}}</legend>

    <div class='controls controls-row'>
      <input type='email' class='input-xlarge' placeholder='Email' ng-model='child.email'>
    </div>

  </fieldset>

  <div class='form-actions'>
    <button type='submit' class='btn btn-primary' ng-click='save()'>Save changes</button>
    <button type='button' class='btn'>Cancel</button>
  </div>

</form>

